 @Red: red;
 
.container{
  .nav-left{
    height: calc(100vh);
    color: #fff;
    background: #001925;
  }
  .main{
    flex: 1;
    height: calc(100vh);
    .content{
      position: relative;
      padding: 20px;
    }
  }
}
