@import './varable.less';
 
.container{
  .nav-left{
    height: calc(100vh);
    color: #fff;
    background: #001925;
    overflow: auto;
  }
  .main{
    height: calc(100vh);
    background: @bgColorF1;
    overflow: auto;
    text-align: left;
    .content{
      position: relative;
      padding: 20px;
    }
  }
}

.clearfix{
  &::after{
    display: block;
    content: '';
    clear: both;
    visibility: hidden;
  }
}